*{
    margin: 0;
}



  
.top-part{
    width: 100%;
    min-height: 150px; 
    
   
   
}  
 


.header{
    height: 150px;
     width: 100%; 
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    
     
}
.header a{
    text-decoration: none;
    color:rgb(27, 26, 26);
    font-size: 37px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 1000;
}
.searchchoose{
    width: 85%;
    display: flex;
    background: #ffffff;
    justify-content:space-between;
    align-items: center;
    margin-top: -50px ;
    

 

}
.servh{
    width: 600px;
    height: 40px;
    background-color: #ffffff;
    align-items: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);

}
.servh>select{
    font-size: 15px;
    width: 200px;
    height: 30px;
    border: none;
    padding: 5px;
    margin-left: 3px;
    outline: none;
}
.servh>input{
    font-size: 15px;
    height: 30px;
    width: 350px;
    border: none;
    padding: 5px;
    outline: none;
}
.servh{
   
    padding: 5px;
    color: rgb(132, 130, 130);
}
.login{
    margin-right: 30px;
}
.login>a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgb(133, 132, 132);
    margin: 10px;
    font-family: "Raleway", sans-serif;
}
.citeshome>a{
    text-decoration: none;
    font-size: 15px;
    
    margin: 3px;
    font-family:"Raleway", sans-serif ;
    color: rgb(137, 136, 136);  

}
.citeshome> a:hover{
    color: rgb(164, 20, 20);
}
.citeshome{
    margin-top: -30px;
    padding-left: 100px;
}
.for-sticky{
    width: 100%;
    min-height: 1000px;
}
.filter-wrapper{
    position: sticky;
    top: 0;
    min-height: 50px;
    background-color: #fff;
}
.filters{
    height: 100%;
    height: 60px;
    margin-top: 10px;
    margin-right: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 100px;
    
    
   
}
.filters>button,select{
    font-family:  "Raleway", sans-serif;
    font-size: 14px;
    padding: 3px;
    color: #918d8ded;
  
    
    
}
.filters>button,select{
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid rgb(207, 207, 207);
    background-color: #fff;
    padding: 5px;
    margin-right: 10px;
}

.filters>button:hover{
    background-color: rgba(152, 150, 150, 0.575);
}

.second-part{
    width: 100%; 
    height: 250px;
    background-color: rgb(248, 248, 248);
   
  
}
.cnt-aline{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}
.highlite img:hover{
    transform: scale(1.1);
    box-shadow: 0 2px 8px grey;
}
.highlite img{
    width: 140px;
    height: 140px;
    border-radius: 60px;

}
.highlite{
    width: 82%;
    display: flex;
   gap: 30px;
   overflow-y:hidden;
   overflow-x:scroll;
  
    
}
::-webkit-scrollbar{
    display: none;
}



.second-part h2{
    padding-left: 100px;
 font-family:"Raleway", sans-serif;
 font-size: 30px;
 color: rgb(0, 0, 0);
 font-weight: 500;

    
}

 .highlite{
    padding-top: 20px;
    /* position: relative;
     */
} 
.highlite h3{
    font-size: 20px;
    font-family:  "Noto Sans", sans-serif;
    font-weight: 400;
    padding-left: 35px;
    
}
.right-arrow{
    position: relative;
    left: 999px;
    top: -110px;
   
    
}
/* .right-arrow i {
    font-size: 30px;
    color: #7e7575e4;
    text-shadow: 5px 5px 10px rgba(128, 128, 128, 0.676);
} */
 .contant{
    width: 90%;
    padding: 100px; 
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
 }

.imgcontant>div{
     height: 300px;
     width: 280px;
     
}
.imgcontant img{
    width: 100%; 
}
.imgcontant{
    width: 100%;
    display: grid;

     grid-template-columns: repeat(3,1fr); 
     gap: 30px;
     grid-column-gap: 50px;
     background-color: #ffffff;
}

.contant h2{
    font-family: "Noto Sans", sans-serif;
    
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: 500;

}
.imgcard img{
    border-radius: 15px;
}

.contant-wrapper{
    display: flex;
    align-items: center;
}
.card{
    width: 310px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}
.card:hover{
    box-shadow:  0 4px  8px grey, 0 6px  20px grey;
 
}
.textcard{
    padding-left: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.rating{
    width: 22px;
    height: 12px;
    padding: 5px;
    font-size: 14px;
    background-color: #188710;
    border-radius: 5px;
    color: #fff;
    font-family: "Noto Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
.textcard>h5{
    font-size: 20px;
    font-weight:400;
    font-family: "Noto Sans", sans-serif;
}
.textcard>h6{
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.904);
}
.textcard>h4{
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}
.final-part{
   width: 100%;
    min-height: 200px;
    background-color: rgb(237, 235, 235);
    padding:20px 0 20px;
    
   
}
.inp,.final-part>h1{
    margin-left: 100px;
    margin-right: 200px;

}
.final-part h1{
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
}
details{
    font-family: "Raleway", sans-serif;
    width: 100%;
    min-height: 50px;
    border: 1px solid rgba(135, 131, 131, 0.806);
    margin-top:20px ;
    border-radius: 10px;
    padding-left: 40px;
    padding-top: 10px;
}
li{
    font-family:"Raleway", sans-serif ;
    font-weight: 400;
    font-size: 13px;
    padding: 5px;
}
.footer{
    width: 100%;
    min-height: 200px;
    background-color: rgba(197, 194, 194, 0.868);
    padding-top: 30px;
    padding-bottom: 30px;
   
}
.footer-head{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 150px;
}
.footer-head h1{
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 1000;
}
.footer-head select{
    width: 100px;
    height: 40px;
    outline: none;
    
   
}
select:hover{
    font-weight: bold;
}

.aboutus{
    padding-top: 20px;
    display: flex;
    margin-left: 100px;
    margin-right: 150px;
    
}
.aboutus>div{
   margin-right: 100px;
   
}
.aboutus h4{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}
.aboutus h5{
    font-family:"Open Sans", sans-serif ;
    font-weight: 300;
    margin-top: 2px;
}

body{
    width: 100%;
}  



